@model Marcom_Application.ViewModel.VMEvent
@{
    ViewBag.Title = "RejectReason";
    Layout = null;
}
@using (Html.BeginForm("UpdateRejectReason", "T_Event", FormMethod.Post, new { id = "rejected"}))
{
    @Html.HiddenFor(a => a.idevent)
    <form>
        <input class="form-control" type="text" placeholder="Input Reject Reason" name="reject_reason" id="reject_reason" />
        <div class="modal-footer">
            <button type="submit" class="btn btn-danger cls_reject" data-dissmiss="modal fade">Reject</button>
            <button type="button" class="btn btn-warning cls_cancel" data-dissmiss="modal fade">Cancel</button>
        </div>
    </form>
}
<script>
    $("#rejected").validate({
        submitHandler: function (form) {
            var dataForm = $(form).serialize();
            $.ajax({
                url: "@Url.Action("UpdateRejectReason", "T_Event")",
                method: "post",
                data: dataForm,
                dataType: "json",
                success: function (respon) {
                    if (respon.respon) {
                        if (respon.respon) {
                            $("#exampleModal").modal("hide");
                            $(".cls_alert").show().html("<strong>Data Rejected!</strong> Transaction Event request with code " + "<strong>" + respon.respon + "</strong>" + " is rejected by Administrator !");
                            window.setTimeout(function () {
                                $(".cls_alert").slideUp(500);
                                window.location.reload();
                            }, 3000);
                        }
                        else {
                            alert(respon.respon);
                        }
                    }
                }
            });
        }
    });
</script>